AWS_REGION =
COGNITO_USER_POOL_ID =
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
COGNITO_APP_CLIENT_ID =

VITE_COGNITO_CALLBACK_SIGN_IN =
VITE_COGNITO_CALLBACK_SIGN_OUT =

API_KEYS=
CORS_ALLOW_ORIGINS =
